.filter-box {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.filter-box input[type=checkbox] {
    display: none;
}

.filter-box input[type=checkbox]:checked+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20x;    
    border: 2px solid #38b2ac;
    border-radius: 5px;
    background: #fff url(../images/check.svg) no-repeat center;
    background-size: contain;
}

.filter-box input[type=checkbox]+label::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #38b2ac;
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
    vertical-align: middle;
    margin-right: 0.3rem;
    cursor: pointer;
}

.filter-item label {
    display: flex;
    align-items: center;
    cursor: pointer;
}